*.3pot
!OEM1_0.3pot
!OEM1_1.3pot
!OEM1_2.3pot
!OEM1_3.3pot
!OEM1_4.3pot
!OEM1_5.3pot
!OEM1_6.3pot
!OEM1_7.3pot
!dance_ir_fla_l.3pot
!dance_ir_h_l.3pot
!dance_ir_ptz_l.3pot
!dist.3pot
!min_rev1.3pot
!rev_rt_d_f.3pot
!rms_limiter.3pot
!rom_chor_rev.3pot
!rom_fla_rev.3pot
!rom_pitch.3pot
!rom_pt_echo.3pot
!rom_rev1.3pot
!rom_rev2.3pot
!rom_trem_rev.3pot
